<html layout:decorate="~{layout1}">
<div layout:fragment="content">
    <form th:action="@{/user/edit}"  method="post" >
        <label class="input input-bordered flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70"><path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" /></svg>
            <input type="text" class="grow" placeholder="Id" name="nickname" th:value="${user.nickname}"/>
        </label>
        <button type="submit" value="Submit" class="btn" >개인정보 수정 </button>
    </form>
    <div class="stat-title flex flex-col">
        <a th:href="@{/user/modify/password}" style="color: inherit; text-decoration: none">비밀번호 변경</a>
    </div>
</div>
</html>